<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-callkit" version="2.2.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Cordova CallKit</name>

    <js-module name="VoIPPushNotification" src="www/VoIPPushNotification.js">
        <clobbers target="VoIPPushNotification" />
    </js-module>

    <js-module name="CordovaCall" src="www/CordovaCall.js">
        <clobbers target="cordova.plugins.CordovaCall" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CordovaCall">
                <param name="android-package" value="com.dmarc.cordovacall.CordovaCall" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.CALL_PHONE"/>
            <uses-permission android:name="android.permission.MANAGE_OWN_CALLS"/>
            <uses-permission android:name="android.permission.READ_PHONE_NUMBERS"/> <!-- needed by TelecomManager.getPhoneAccount() -->
            <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
            <uses-permission android:name="android.permission.POST_PROMOTED_NOTIFICATIONS"/> <!-- important for the CallStyle notifications created to be promotable -->
        
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

            <!-- Permission for the "phoneCall" foreground service type (Required for Android 14+) -->
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE_PHONE_CALL" />
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE"/>
        </config-file>

        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <activity
                android:name="com.dmarc.cordovacall.IncomingCallActivity"
                android:showOnLockScreen="true"
                android:turnScreenOn="true"
                android:launchMode="singleTask"
                android:exported="false"
                android:theme="@style/Theme.AppCompat.NoActionBar"
            />
            <service android:name="com.dmarc.cordovacall.MyConnectionService"
                     android:permission="android.permission.BIND_TELECOM_CONNECTION_SERVICE"
                     android:exported="true"
            >
                <intent-filter>
                    <action android:name="android.telecom.ConnectionService" />
                </intent-filter>
            </service>
            <service
                android:name="com.dmarc.cordovacall.CallAudioService"
                android:enabled="true"
                android:foregroundServiceType="phoneCall|microphone"
                android:exported="false"
            />

            <receiver android:name="com.dmarc.cordovacall.CallActionReceiver" />
        </config-file>

        <source-file src="src/android/CallActionReceiver.java" target-dir="src/com/dmarc/cordovacall" />
        <source-file src="src/android/IncomingCallNotification.java" target-dir="src/com/dmarc/cordovacall" />
        <source-file src="src/android/OngoingCallNotification.java" target-dir="src/com/dmarc/cordovacall" />
        <source-file src="src/android/CordovaCall.java" target-dir="src/com/dmarc/cordovacall" />
        <source-file src="src/android/IncomingCallActivity.java" target-dir="src/com/dmarc/cordovacall" />
        <source-file src="src/android/MyConnectionService.java" target-dir="src/com/dmarc/cordovacall" />
        <source-file src="src/android/CallAudioService.java" target-dir="src/com/dmarc/cordovacall" />
        <source-file src="src/android/PhoneAccountManager.java" target-dir="src/com/dmarc/cordovacall" />
        <source-file src="src/android/CallConnection.java" target-dir="src/com/dmarc/cordovacall" />
        <source-file src="src/android/IncomingCallConnection.java" target-dir="src/com/dmarc/cordovacall" />
        <source-file src="src/android/OutgoingCallConnection.java" target-dir="src/com/dmarc/cordovacall" />
        <source-file src="src/android/AudioRouteMonitor.java" target-dir="src/com/dmarc/cordovacall" />
  </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CordovaCall">
                <param name="ios-package" value="CordovaCall" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>fetch</string>
                <string>remote-notification</string>
                <string>voip</string>
            </array>
        </config-file>

        <header-file src="src/ios/CordovaCall.h" />
        <source-file src="src/ios/CordovaCall.m" />
        <source-file src="src/ios/AppDelegateCordovaCall.m" />
        <header-file src="src/ios/WebSocketAdvanced.h" />
        <source-file src="src/ios/WebSocketAdvanced.m" />

        <framework src="PushKit.framework" />
        <framework src="CallKit.framework" />
        <podspec>
            <config></config>
            <pods use-frameworks="true">
                <pod name="SocketRocket" spec="0.7.0" />
            </pods>
        </podspec>
    </platform>
</plugin>
